<footer class="pb-16">
    <div class="flex flex-col items-center">
        <div class="pb-12">
            <a class="nav-a-tag pr-16" href="#">Startsida</a>
            <a class="nav-a-tag pr-16" href="#">Startsida</a>
            <a class="nav-a-tag pr-16" href="#">Startsida</a>
            <a class="nav-a-tag pr-16" href="#">Startsida</a>
            <a class="nav-a-tag " href="#">Startsida</a>
        </div>
        <div class="flex flex-row gap-12 pb-12">
            <a target="_blank" href="https://www.facebook.com/SvartsoLanthandel/"><img class="h-16" src="/images/facebook-icon.png" alt="Facebookikon"></a>
            <a target="_blank" href="https://www.instagram.com/svartsolanthandel/?hl=en"><img class="h-16" src="/images/instagram-icon-cut.png" alt="Instagramikon"></a>
        </div>
        <div>
            <p class="text-lg text-slate-700">Svartsö Lanthandel</p>
        </div>
    </div>
</footer>
</body>
</html>