<div class="h-fit w-full bg-white flex flex-col items-center">
    <div class="my-2">
        <img class="h-32" src="/images/logo.png" alt="Loggan">
    </div>
    <div class="py-5">
        <a class="text-black text-2xl mr-11" href="#">Startsida</a>
        <a class="text-black text-2xl mr-11" href="#">Startsida</a>
        <a class="text-black text-2xl mr-11" href="#">Startsida</a>
        <a class="text-black text-2xl mr-11" href="#">Startsida</a>
        <a class="text-black text-2xl" href="#">Startsida</a>
    </div>
</div>