<nav class="h-fit w-full flex flex-row align-center px-10 py-6">
    <div>
        <img class="h-28" src="/images/logo.png" alt="Loggan">
    </div>
    <div class="navbar-links w-full flex items-center justify-end">
        <a class="relative px-1 text-black text-2xl mr-11" href="#">Startsida</a>
        <a class="relative px-1 text-black text-2xl mr-11" href="#">Startsida</a>
        <a class="relative px-1 text-black text-2xl mr-11" href="#">Startsida</a>
        <a class="relative px-1 text-black text-2xl mr-11" href="#">Startsida</a>
        <a class="relative px-1 text-black text-2xl" href="#">Startsida</a>
    </div>
</nav>