<nav class="h-fit w-full bg-white flex flex-col items-center">
    <div class="my-4">
        <a href="#" class="w-full h-full"><img class="h-32" src="/images/logo.png" alt="Loggan"></a>
    </div>
    <div class="navbar-links py-5">
        <a class="relative px-1 text-black text-2xl mr-11" href="/">Startsida</a>
        <a class="relative px-1 text-black text-2xl mr-11" href="/gasthamn">Gästhamn</a>
        <a class="relative px-1 text-black text-2xl mr-11" href="/cykeluthyrning">Cykeluthyrning</a>
        <a class="relative px-1 text-black text-2xl mr-11" href="/sjobodarna">Sjöbodarna</a>
        <a class="relative px-1 text-black text-2xl mr-11" href="/om-svartso">Om Svartsö</a>
        <a class="relative px-1 text-black text-2xl" href="/kontakt">Kontakta oss</a>
    </div>
</nav>