<%- include('partials/head') %>
<main>
    <section>
        <h1 class="text-5xl font-bold text-center">Om Svartsö</h1>
    </section>
    <section class="flex flex-row gap-40">
        <div class="w-full">
            <p class="text-xl font-semibold leading-loose">Svartsö är en av de större öarna i Stockholms mellanskärgård. Ön är cirka en mil lång och två kilometer bred och ligger i den norra delen av Värmdös skärgård. Här finns ett varierat landskap med gammal och ny bebyggelse, flera insjöar, orörd skogsmark och öppen jordbruksbygd.</p>
        </div>
        <div class="w-full">
            <img class="rounded-xl" src="/images/svartso-nature.jpg" alt="grusväg">
        </div>
    </section>
    <section class="flex flex-row gap-40">
        <div class="w-full">
            <img class="rounded-xl" src="/images/stortrask.jpg" alt="Storträsk">
        </div>
        <div class="w-full">
            <p class="text-xl font-semibold leading-loose mb-8">Vid mitten av 1500-talet fanns det gårdar vid Alsvik och Skälvik. Dessa utvecklades så småningom till byar. Vid sekelskiftet 1900 började sommarvillor och fritidshus att byggas på ön. Idag bor omkring 65 personer permanent på Svartsö, och här finns bl.a. förskola, skola, lanthandel, krog , Bistro och hotell&vandrarhem.</p>
            <p class="text-xl font-semibold leading-loose">Hembygdsgården, f.d. missionshuset från 1880, är ett av de äldsta missionshusen i skärgården. Idag används bygdegården för möten, gudstjänster, fester, utställningar, filmvisning mm. Ligger strax väster om Alsviks brygga.</p>
        </div>
    </section>
    <section class="flex flex-col items-center pt-24">
        <p class="text-xl mb-8">Vill du läsa mer om Svartsö? Besök Svartsös hemsida <a class="font-semibold hover:underline" href="https://www.svartso.se">www.svartso.se</a></p>
        <a target="_blank" href="https://www.svartso.se">
            <button class="btn-blue">Läs mer</button>
        </a>
    </section>
</main>
<%- include('partials/footer') %>