<%- include('partials/head') %>
<main>
    <section class="flex flex-row">
        <div class="basis-1/2 flex flex-col justify-center gap-10">
            <h1 class="text-6xl text-slate-950 font-semibold leading-tight">Bo i en mysig stuga precis vid vattnet</h1>
            <div>
                <button class="btn-blue">Boka</button>
                <button class="btn-white">Läs mer &#10140;</button>
            </div>
        </div>
        <div class="basis-1/2">
            <div>
                <img class="rounded-xl" src="/images/boat-houses.jpeg" alt="cyklar">
            </div>
        </div>
    </section>
    <section>
        <div class="flex justify-center">
            <p class="text-xl text-center leading-loose max-w-2xl">Vi erbjuder ett charmigt boende i sjöbodar, direkt vid vattnet intill Alsviks brygga på Svartsö. Vi har fyra sjöbodar med enkel standard och sammanlagt åtta bäddar.</p>
        </div>
    </section>
    <section class="flex flex-col items-center">
        <h2 class="text-4xl mb-12 font-semibold">Priser</h2>
        <div class="flex justify-center gap-12">
            <div class="w-fit h-fit p-8 border-slate-200 border-2 rounded-lg">
                <div class="w-64 h-24">
                    <h3 class="text-2xl pb-2">Boende</h3>
                    <p>850kr / sjöbod / dygn</p>
                </div>
            </div>
            <div class="w-fit h-fit p-8 border-slate-200 border-2 rounded-lg">
                <div class="w-64 h-24">
                    <h3 class="text-2xl pb-2">Lakan & handdukar</h3>
                    <p>150kr / person</p>
                </div>
            </div>
        </div>
    </section>
    <section class="flex flex-col items-center">
        <h2 class="text-4xl text-center font-semibold pb-12">Skicka din bokningsförfrågan</h2>
        <div class="flex justify-center gap-12">
            <div class="w-fit h-auto p-8 border-slate-200 border-2 rounded-lg">
                <div class="w-96">
                    <h3 class="text-2xl font-semibold pb-5">Boka i god tid!</h3>
                    <p class="text-lg pb-10">Våra sjöbodar är oerhört populära! För att vara säker på att det finns någon ledig är det viktigt att boka med god framförhållning.</p>
                    <p class="semibold pb-5">Tel: 08-542 473 25</p>
                    <p class="semibold pb-5">Telefontid: Kl 10-18 under högsäsong</p>
                    <p class="semibold pb-5">E-post: <a href="mailto:info@svartsosjobodar.se">info@svartsosjobodar.se</a></p>
                    <p class="semibold"><a href="http://www.svartsosjobodar.se">www.svartsosjobodar.se</a></p>
                    
                </div>
            </div>
            <div class="w-fit h-fit p-8 border-slate-200 border-2 rounded-lg">
                <form action="/send-email" method="post" class="contact-form">
                    <div class="w-96">
                        <div>
                            <label for="name-input" class="form-label">Namn</label>
                            <div class="form-input-container">
                              <input type="text" name="name" id="name-input" class="form-input" placeholder="ex. Anders Svensson">
                            </div>
                            <label for="phone-number-input" class="form-label">Telefonnummer</label>
                            <div class="form-input-container">
                              <input type="text" name="phoneNumber" id="phone-number-input" class="form-input" placeholder="ex. 070-123 45 67">
                            </div>
                            <label for="email-input" class="form-label">E-post</label>
                            <div class="form-input-container">
                              <input type="text" name="email" id="email-input" class="form-input" placeholder="ex. anders.svensson@example.com">
                            </div>
                            <label for="date-input" class="form-label">Datum</label>
                            <div class="form-input-container">
                              <input type="datetime" name="date" id="date-input" class="form-input" placeholder="ex. 01/01/2024">
                            </div>
                            <label for="message-input" class="form-label">Meddelande</label>
                            <div class="form-input-container">
                                <textarea name="message" id="message-input" cols="30" rows="5" class="form-textarea" placeholder="Meddelande..."></textarea>
                            </div>
                        </div>
                        <div class="pt-5 mt-6 border-t-2 border-slate-200 flex flex-row justify-end">
                            <button class="btn-white btn-sm">Avbryt</button>
                            <button class="btn-blue btn-sm">Skicka</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <section class="flex flex-col items-center">
        <h2 class="text-4xl font-semibold text-center mb-14">Intro till Svartsö</h2>
        <div class="flex flex-row justify-center gap-28">
            <div class="w-full flex flex-col items-end">
                <p class="text-xl leading-loose font-semibold text-right pb-12">Svartsö är en av de större öarna i Stockholms mellanskärgård. Ön är cirka en mil lång och två kilometer bred och ligger i den norra delen av Värmdös skärgård. Här finns ett varierat landskap med gammal och ny bebyggelse, flera insjöar, orörd skogsmark och öppen jordbruksbygd.</p>
                <a target="_blank" href="/om-svartso"><button class="btn-blue">Läs mer</button></a>
            </div>
            <div class="w-full">
                <img class="rounded-xl" src="/images/svartso-nature.jpg" alt="Landsväg">
            </div>
        </div>
    </section>
</main>
<%- include('partials/footer') %>