<%- include('partials/head') %>
<main>
    <section>
        <h1 class="text-5xl font-semibold text-center">Hör av dig till oss!</h1>
    </section>
    <section class="flex flex-row gap-24">
        <div class="w-full">
            <h2>Headline</h2>
            <p>Tveka inte att kontakta oss!</p>
            <p>Ring, mejla eller besök oss på:</p>
            <p>Svartsö Lanthandel AB</p>
            <p>Alsviks Brygga</p>
            <p>13034 SKÄLVIK</p>
            <h3>Koordinater</h3>
            <p>N 59°26′13.36"</p>
            <p>E 18°39′29.58"</p>
        </div>
        <div class="w-full"></div>
    </section>
</main>
<%- include('partials/footer') %>