<%- include('partials/head') %>
    <main>
        <section class="flex flex-col justify-center h-40r">
            <h1 class="text-7xl text-slate-950 text-center p-6 font-bold">This is Svartsö lanthandel</h1>
        </section>
        <section>
            <div>
                <div id="hero-img-1-home" class="rounded-2xl"></div>
            </div>
        </section>
        <section class="flex flex-col items-center">
            <h2 class="text-5xl font-semibold text-center pb-10">This is a smaller headline</h2>
            <p class="max-w-5xl text-center text-lg pb-8 leading-loose">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis doloremque enim reprehenderit repellendus voluptates. Error, accusantium maiores dolore labore sit officia nostrum saepe cupiditate officiis, quae repudiandae ab similique porro.
            Exercitationem eum fugiat consequatur, eligendi velit, unde qui nisi quas natus magni commodi reprehenderit aperiam voluptatum? Exercitationem minus, sequi ea deleniti nostrum accusantium tempore, maiores iure suscipit expedita voluptatibus doloremque!</p>
            <div>
                <button class="bg-blue-600 border-blue-600 text-white hover:bg-blue-500 hover:border-blue-500">Button</button>
                <button class="border-slate-200 hover:bg-slate-50 hover:border-slate-300">Button</button>
            </div>
        </section>
        <section class="flex justify-center">
            <div class="slider overflow-hidden rounded-xl">
                <div class="slides flex">

                    <div class="slide first">
                        <img src="/images/boats.jpg" alt="bild">
                    </div>
                    <div class="slide">
                        <img src="/images/vegetables.jpg" alt="bild">
                    </div>
                    <div class="slide">
                        <img src="/images/cafe-boats.jpg" alt="bild">
                    </div>
                    <div class="slide">
                        <img src="/images/overview-cut.jpg" alt="bild">
                    </div>

                    <div class="navigation-manual absolute flex justify-center gap-7 self-end justify-self-center pb-6 w-48">
                        <div class="manual-btn checked" data-carousel-index="1"></div>
                        <div class="manual-btn" data-carousel-index="2"></div>
                        <div class="manual-btn" data-carousel-index="3"></div>
                        <div class="manual-btn" data-carousel-index="4"></div>
                    </div>

                </div>
            </div>
        </section>
        <section class="flex flex-row">
            <div class="w-full flex flex-col content-center pl-16">
                <p class="text-xl pb-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit:</p>
                <ul class="text-lg list-disc pl-8">
                    <li class="pb-2 pl-2">New checkout system 2021</li>
                    <li class="pb-2 pl-2">New checkout system 2021</li>
                    <li class="pl-2">New checkout system 2021</li>
                </ul>
            </div>
            <div class="w-full flex justify-center">
                <img src="/images/EU.jpg" alt="EU-certifikat">
            </div>
        </section>
    </main>
    <footer class="pb-16">
        <div class="flex flex-col items-center">
            <div class="pb-8">
                <a class="text-lg text-slate-700 hover:text-slate-800 transition-color pr-16" href="#">Startsida</a>
                <a class="text-lg text-slate-700 hover:text-slate-800 transition-color pr-16" href="#">Startsida</a>
                <a class="text-lg text-slate-700 hover:text-slate-800 transition-color pr-16" href="#">Startsida</a>
                <a class="text-lg text-slate-700 hover:text-slate-800 transition-color pr-16" href="#">Startsida</a>
                <a class="text-lg text-slate-700 hover:text-slate-800 transition-color" href="#">Startsida</a>
            </div>
            <div class="flex flex-row gap-8 pb-8">
                <a target="_blank" href="https://www.facebook.com/SvartsoLanthandel/"><img class="h-16" src="/images/facebook-icon.png" alt="Facebookikon"></a>
                <a target="_blank" href="https://www.instagram.com/svartsolanthandel/?hl=en"><img class="h-16" src="/images/instagram-icon-cut.png" alt="Instagramikon"></a>
            </div>
            <div>
                <p class="text-lg text-slate-700">Svartsö Lanthandel</p>
            </div>
        </div>
    </footer>
</body>
</html>