<%- include('partials/head') %>
    <main>
        <section class="flex flex-col justify-center lg:h-96 xl:h-30r">
            <h1 class="text-4xl font-semibold sm:text-6xl xl:text-7xl text-slate-950 text-center xl:p-6 xl:font-bold">Välkommen till en riktig lanthandel!</h1>
        </section>
        <section>
            <div>
                <div id="hero-img-1-home" class="sm:rounded-2xl"></div>
            </div>
        </section>
        <section class="flex flex-col items-center">
            <h2 class="text-5xl font-semibold text-center pb-10">Om butiken</h2>
            <p class="max-w-5xl text-center text-lg pb-8 leading-loose">Svartsö Lanthandel är en välsorterad butik med fräscha grönsaker och butiksbageri. Vi satsar på ett så brett sortiment som möjligt av produkter från odlare och uppfödare i regionen. Butiken är ombud för PostNord, DHL, Schenker och UPS, samt Systembolaget och Apoteket. Här kan du också hyra cyklar och få information om Svartsö.</p>
            <div>
                <a href="/om-svartso"><button class="btn-blue">Mer om ön</button></a>
                <a href="/gasthamn"><button class="btn-white-border">Gästhamnen</button></a>
            </div>
        </section>
        <section class="flex justify-center" id="slider-section-home">
            <div class="slider overflow-hidden sm:rounded-xl">
                <div class="slides flex">

                    <div class="slide first">
                        <img src="/images/boats.jpg" alt="bild">
                    </div>
                    <div class="slide">
                        <img src="/images/vegetables.jpg" alt="bild">
                    </div>
                    <div class="slide">
                        <img src="/images/cafe-boats.jpg" alt="bild">
                    </div>
                    <div class="slide">
                        <img src="/images/overview-cut.jpg" alt="bild">
                    </div>
                    <div class="slide">
                        <img src="/images/flower-water-formatted.jpg" alt="bild">
                    </div>
                    <div class="slide">
                        <img src="/images/flower-harbor.jpg" alt="bild">
                    </div>
                    <div class="slide">
                        <img src="/images/cafe.jpg" alt="bild">
                    </div>

                    <div class="hidden md:flex navigation-manual absolute justify-center gap-7 self-end justify-self-center pb-6 w-96">
                        <div class="manual-btn checked" data-carousel-index="1"></div>
                        <div class="manual-btn" data-carousel-index="2"></div>
                        <div class="manual-btn" data-carousel-index="3"></div>
                        <div class="manual-btn" data-carousel-index="4"></div>
                        <div class="manual-btn" data-carousel-index="5"></div>
                        <div class="manual-btn" data-carousel-index="6"></div>
                        <div class="manual-btn" data-carousel-index="7"></div>
                    </div>

                </div>
            </div>
        </section>
        <section class="flex justify-center">
            <div class="flex flex-col lg:flex-row gap-12 max-w-4xl">
                <div class="w-full flex flex-col content-center">
                    <p class="text-xl lg:text-right pb-4">Vi har fått stöd av <b class="font-semibold">Europeiska jordbruksfonden för landsbygdsutveckling</b> för:</p>
                    <ul id="home-grant-list" class="text-lg list-disc pl-4 lg:pr-8 lg:text-right">
                        <li class="pb-2 pl-2">Nytt kassasystem 2022</li>
                        <li class="pb-2 pl-2">Nya kyldiskar och mejerifront 2018</li>
                        <li class="pl-2">Nya kassadiskar 2016</li>
                    </ul>
                </div>
                <div class="w-full flex justify-center">
                    <img class="rounded-t-xl" src="/images/EU.jpg" alt="EU-certifikat">
                </div>
            </div>
        </section>
    </main>
<%- include('partials/footer') %>