@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* html {
        font-family: 'Open sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    } */

    html {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    body {
        overflow-x: hidden;
    }

    main {
        width: 100%;
        padding-bottom: 100px;
    }

    section {
        padding: 40px 0;
        @apply px-7;
    }

    input {
        all: unset;
    }

    button {
        @apply px-6 py-2 mx-1 rounded-md font-semibold border-2 transition-colors;
    }

    .btn-blue {
        @apply bg-blue-600 border-blue-600 text-white hover:bg-blue-500 hover:border-blue-500;
    }
    
    .btn-dark-blue {
        @apply bg-blue-700 border-blue-700 text-white hover:bg-blue-600 hover:border-blue-600;
    }

    .btn-white {
        @apply border-white hover:border-slate-100 hover:bg-slate-100;
    }

    .btn-white-border {
        @apply border-slate-200 hover:bg-slate-50;
    }

    .btn-sm {
        @apply px-3 py-1;
    }

    p.semibold {
        @apply text-lg font-semibold;
    }

    /* Navbar */
    .navbar-links {
        width: calc(100% - 3rem);
    }

    .navbar-links > a {
        @apply sm:relative px-1 text-black text-2xl;
    }

    /* Burger icon */
    .burger {
        width: 55px;
        height: 55px;
        border-radius: 10px;
        background: white;
        box-shadow: rgb(136 165 191 / 48%) 6px 2px 16px 0px, rgb(255 255 255 / 80%) -6px -2px 16px 0px;
        cursor: pointer;
        position: fixed;
        top: 1rem;
        right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        transition: all .5s ease;
        margin: 1em;
    }

    .burger:hover {
        background: rgb(56 56 56);
    }

    .burger-strip {
        transition: all .5s ease;
    }

    .strip div {
        height: 3px;
        border-radius: 2px;
        background: rgb(56 56 56);
        margin: 10px;
        transition: all .55s cubic-bezier(0.075, 0.82, 0.165, 1);
        width: 40px;
    }

    .burger:hover .strip div {
        background: white;
    }

    .burger-strip div:first-child {
        width: 16px;
    }

    .burger-strip div:last-child {
        width: 28px;
    }

    .burger:hover .burger-strip div:first-child {
        transform: rotate(45deg) translateY(1px) translateX(5px);
    }

    .burger:hover .burger-strip div:nth-child(2) {
        transform: rotate(-45deg);
    }

    .burger:hover .burger-strip div:last-child {
        transform: rotate(45deg) translateY(-13px) translateX(2px);
    }

    /* Hover effect navbar */
    .navbar-links a:after {
        content: "";
        position: absolute;
        background-color: black;
        height: 3px;
        width: 0;
        left: 0;
        bottom: -5px;
        transition: 0.3s;
    }

    .navbar-links a.a-underlined:after {
        width: 100%;
    }

    .navbar-links a:hover:after {
        width: 100%;
    }

    footer > div {
        width: 1200px;
    }

    footer a.nav-a-tag {
        @apply text-lg text-slate-700 hover:text-slate-800 transition-colors;
    }

    section:has(#hero-img-1-home) {
        @apply px-0 sm:px-7;
    }
    
    #hero-img-1-home {
        height: 20rem;
        background-image: url('../images/hero-home.jpg');
        background-position: center;
        background-size: cover;
    }

    section:has(#hero-img-1-harbor) {
        @apply px-0 sm:px-7;
    }

    #hero-img-1-harbor {
        height: 20rem;
        background-image: url('../images/hero-harbor.jpg');
        background-position: center;
        background-size: cover;
    }

    #slider-section-home {
        @apply px-0 sm:px-7;
    }

    .slider {
        width: 100%;
    }

    .slides {
        width: 800%;
    }

    .slide {
        width: 12.5%;
        transition: 2s;
    }

    .slide img {
        width: 892px;
        height: 300px;
        object-fit: cover;
    }

    .navigation-manual {
        left: calc(50% - (24rem / 2))
    }

    .manual-btn {
        @apply w-4 h-4 border-2 border-slate-300 rounded-full hover:bg-slate-300 transition-colors;
    }

    .manual-btn.checked {
        @apply bg-slate-300;
    }

    /* Form */
    .form-input {
        @apply block rounded-md border-0 py-1.5 pl-4 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-indigo-600 sm:text-base sm:leading-6;
        width: calc(100% - 1rem);
    }

    .form-textarea {
        @apply block rounded-md border-0 py-1.5 pl-2 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-indigo-600 sm:text-base sm:leading-6;
        width: 100%;
        resize: none;
    }

    .form-input-container {
        @apply relative mt-2 rounded-md shadow-sm;
    }

    .form-label {
        @apply block text-lg mt-4 font-semibold leading-6 text-gray-900;
    }

    .form-label:nth-of-type(1) {
        @apply mt-0;
    }

    @media (width >= 640px) {
        .slider {
            width: 892px;
        }
    }

    @media (width >= 1024px) {
        #home-grant-list {
            direction: rtl;
        }

        #hero-img-1-home, #hero-img-1-harbor {
            height: 24rem;
        }

        .slide img {
            height: 400px;
        }
    }

    @media (width >= 1440px) {
        main {
            width: 1400px;
            padding-bottom: 200px;
            margin: 0 auto;
        }

        #hero-img-1-home, #hero-img-1-harbor {
            height: 32rem;
        }

        .slide img {
            height: 500px;
        }
    }
}