@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* html {
        font-family: 'Open sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    } */

    main {
        width: 1400px;
        padding-bottom: 200px;
        margin: 0 auto;
    }

    section {
        padding: 40px 0;
        @apply px-7;
    }

    input {
        all: unset;
    }

    button {
        @apply px-6 py-2 mx-1 rounded-md font-semibold border-2 transition-colors;
    }

    .btn-blue {
        @apply bg-blue-600 border-blue-600 text-white hover:bg-blue-500 hover:border-blue-500;
    }
    
    .btn-dark-blue {
        @apply bg-blue-700 border-blue-700 text-white hover:bg-blue-600 hover:border-blue-600;
    }

    .btn-white {
        @apply border-white hover:border-slate-100 hover:bg-slate-100;
    }

    .btn-white-border {
        @apply border-slate-200 hover:bg-slate-50;
    }

    .btn-sm {
        @apply px-3 py-1;
    }

    p.semibold {
        @apply text-lg font-semibold;
    }

    /* Hover effect navbar */
    .navbar-links a:after {
        content: "";
        position: absolute;
        background-color: black;
        height: 3px;
        width: 0;
        left: 0;
        bottom: -5px;
        transition: 0.3s;
    }

    a:hover:after {
        width: 100%;
    }

    footer > div {
        width: 1200px;
    }

    footer a.nav-a-tag {
        @apply text-lg text-slate-700 hover:text-slate-800 transition-colors;
    }

    #home-grant-list {
        direction: rtl;
    }
    
    #hero-img-1-home {
        height: 32rem;
        background-image: url('../images/hero-home.jpg');
        background-position: center;
        background-size: cover;
    }

    #hero-img-1-harbor {
        height: 32rem;
        background-image: url('../images/hero-harbor.jpg');
        background-position: center;
        background-size: cover;
    }

    .slider {
        width: 892px;
    }

    .slides {
        width: 500%;
    }

    .slide {
        width: 20%;
        transition: 2s;
    }

    .slide img {
        width: 892px;
        height: 500px;
        object-fit: cover;
    }

    .navigation-manual {
        left: calc(50% - 96px)
    }

    .manual-btn {
        @apply w-4 h-4 border-2 border-slate-300 rounded-full hover:bg-slate-300 transition-colors;
    }

    .manual-btn.checked {
        @apply bg-slate-300;
    }

    /* Form */
    .form-input {
        @apply block rounded-md border-0 py-1.5 pl-4 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-indigo-600 sm:text-base sm:leading-6;
        width: calc(100% - 1rem);
    }

    .form-textarea {
        @apply block rounded-md border-0 py-1.5 pl-2 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-indigo-600 sm:text-base sm:leading-6;
        width: 100%;
        resize: none;
    }

    .form-input-container {
        @apply relative mt-2 rounded-md shadow-sm;
    }

    .form-label {
        @apply block text-lg mt-4 font-semibold leading-6 text-gray-900;
    }

    .form-label:nth-of-type(1) {
        @apply mt-0;
    }
}